<div class="center jumbotron">
  <h1>Welcome to Foodesia</h1> <!-- タイトルを表示 -->
  <p>美味しいレシピを世界中の人に共有しましょう！</p>
  <h2> <!-- サブタイトルを表示 -->
    This is the home page for the
    <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %> <!-- サインアップページへのリンク -->
</div>
<%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"), "https://rubyonrails.org/" %>