<% if @user.errors.any? %> <!-- エラーメッセージを表示 -->
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@user.errors.count, "error") %> <!-- エラーの数を表示 -->
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %> <!-- エラーメッセージを1つずつ表示 -->
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>