<header class="navbar navbar-fixed-top navbar-inverse"> <!-- ナビゲーションバーの設定 -->
  <div class="container"> <!-- ナビゲーションバーのコンテナ -->
    <%= link_to "sample app", root_path, id: "logo" %> <!-- ロゴをクリックするとトップページに移動 -->
    <nav> 
      <ul class="nav navbar-nav navbar-right"> <!-- ナビゲーションバーのリンク -->
        <li><%= link_to "Home",   root_path %></li> <!-- Homeページに移動 -->
        <li><%= link_to "Help",   help_path %></li> <!-- Helpページに移動 -->
        <li><%= link_to "Log in", '#' %></li> <!-- ログインページに移動 -->
      </ul>
    </nav>
  </div>
</header>